---
const tours = [
    {
        title: "LAGUNAS AUSANGATE",
        days: "1 DÍA",
        image: "/images/trekking/ausangate.png",
        description: "El tour Camino del Inca 2 días ofrece una experiencia compacta de una de las rutas más icónicas de Perú, ideal para quienes no quieren perderse la magia y la aventura de este destino.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*CAMINO%20DEL%20INCA%202D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "2D/1N",
        image: "/images/trekking/ausangate2.png",
        description: "El Camino del Inca 4 días es una caminata emblemática que recorre paisajes impresionantes, nubosos y sitios arqueológicos, brindando una inmersión profunda en el legado Inca.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*CAMINO%20DEL%20INCA%204D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "3D/2N",
        image: "/images/trekking/ausangate3.png",
        description: "En nuestro tour a Machu Picchu, explorarás durante un día la majestuosa Ciudadela Inca, una maravilla mundial vayamos a descubrir su historia y sus secretos.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TOUR%20A%20MACHU%20PICCHU%201D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "4D/3N",
        image: "/images/trekking/ausangate4.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "5D/4N",
        image: "/images/trekking/ausangate5.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "6D/5N",
        image: "/images/trekking/ausangate6.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "SALKANTAY TRAIL",
        days: "4D/3N",
        image: "/images/trekking/salkantaytrail.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "SALKANTAY A MACHU PICCHU",
        days: "5D/4N",
        image: "/images/trekking/salkantaymachupicchu.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "CHOQUEQUIRAO",
        days: "4D/3N",
        image: "/images/trekking/choquequirao.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "CHOQUEQUIRAO TREK",
        days: "5D/4N",
        image: "/images/trekking/choquequirao2.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "TREKKING MACHU PICCHU",
        days: "1 DÍA",
        image: "/images/trekking/machupicchu.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "TREK HUCHUY CUSCO",
        days: "1 DÍA",
        image: "/images/trekking/huchuy.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "TREK LARES MACHU PICCHU",
        days: "HALF DAY",
        image: "/images/trekking/trekcusco.png",
        description: "La Montaña de Colores de Perú se ha convertido en una de las principales atracciones turísticas, atrayendo a viajeros de todo el mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    }
];
---
<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-5xl sm:text-5xl lg:text-5xl font-bold text-primary mb-12 px-4 sm:px-8 font-cookies">
            Aventúrate <br /> con nuestros trekkings.
        </h2>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            {tours.map((tour) => (
            <div class="bg-sand bg-opacity-50 rounded-lg shadow-md overflow-hidden">
                <img src={tour.image} alt={tour.title} class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">{tour.title}</h3>
                    <p class="text-gray-600 mb-2">{tour.days}</p>
                    <p class="text-gray-600 mb-6">{tour.description}</p>
                    <a href={tour.link} target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white rounded-md shadow-md transition duration-400 ease-in-out hover:scale-105">
                        Reservar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>
            ))}
        </div>
    </div>
</section>