---
const tours = [
    {
        title: "7 LAGUNAS AUSANGATE",
        days: "1 DÍA",
        image: "/images/trekking/ausangate.avif",
        type: "Caminata / Cultural",
        elevation: "4400 m – 4800 m",
        difficulty: "Difícil",
        description: "Nuestra excursión de un día a las 7 Lagunas Ausangate te permitirá ver hermosos lagos turquesas en la Cordillera de Vilcanota y estar cerca de la montaña Ausangate, la más alta de Perú. Al final, disfrutarás de las aguas termales con vistas a las montañas y a la vida cotidiana de los agricultores de Pacchanta.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*CAMINO%20DEL%20INCA%202D*."
    },
    {
        title: "AUSANGATE TREK",
        days: "2D/1N",
        image: "/images/trekking/ausangate2.avif",
        type: "Caminata / Cultural",
        elevation: "4200 m – 4600 m",
        difficulty: "Moderado",
        description: "Caminata por Ausangate con cabañas es ideal para quienes buscan disfrutar de la naturaleza en soledad. Pasarás la noche cómodamente en cabañas. El primer día visitarás el lago Ausangate y el segundo las 7 lagos de Ausangate. Al final, disfrutarás de las aguas termales con vistas a las montañas y a la vida cotidiana.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*CAMINO%20DEL%20INCA%204D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "3D/2N",
        image: "/images/trekking/ausangate3.avif",
        type: "Caminata / Cultural",
        elevation: "4600 m – 5040 m",
        difficulty: "Muy difícil",
        description: "Ideal para senderistas experimentados. Caminaremos todo el día, cruzaremos 3 pasos de montañas, rodeado de alpacas y llamas, disfrutarán de paisajes que cambian desde picos, nevados, montañas desérticas y pampas pantanosas. La recompensa será la Montaña de los Siete Colores, un asombroso arcoíris natural.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*TOUR%20A%20MACHU%20PICCHU%201D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "4D/3N",
        image: "/images/trekking/ausangate4.avif",
        type: "Caminata / Cultural",
        elevation: "4600 m – 5040 m",
        difficulty: "Muy difícil",
        description: "Ausangate combinado con la Montaña de Colores, es una aventura en los Andes. El nevado de Ausangate, ubicado en la cordillera de Vilcanota, alcanza los 6372 msnm. En el recorrido, podrá ver lagunas turquesas como Puccaqocha, manadas de llamas, alpacas, y animales silvestres. La conexión, hará que esta aventura sea inolvidable.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "5D/4N",
        image: "/images/trekking/ausangate5.avif",
        type: "Caminata / Cultural",
        elevation: "4200 m – 5200 m",
        difficulty: "Muy difícil",
        description: "El tour Ausangate de 5 días es una aventura en los impresionantes paisajes de los Andes, con glaciares, lagunas y arroyos. Tendrás la oportunidad de conocer a los habitantes locales, quienes conservan un profundo respeto por la naturaleza. Esta caminata está recomendada para personas con buena condición física.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "LAGUNAS AUSANGATE",
        days: "6D/5N",
        image: "/images/trekking/ausangate6.avif",
        type: "Caminata / Cultural",
        elevation: "4400 m – 5050 m",
        difficulty: "Difícil",
        description: "Una de las áreas menos visitadas en Cusco, ofrece increíbles atracciones para los amantes de la naturaleza, como montañas de colores, glaciares, lagos turquesas, rojos y negros, y manadas de alpacas, llamas y vicuñas. También encontrarás pueblos aislados con gente amigable que conserva su forma de vida ancestral.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "SALKANTAY TRAIL",
        days: "4D/3N",
        image: "/images/trekking/salkantaytrail.avif",
        type: "Caminata / Cultural",
        elevation: "2500 m – 4600 m",
        difficulty: "Difícil",
        description: "El Salkantay Trail de 4 días es ideal para quienes buscan una variedad de paisajes, desde la selva tropical hasta los picos nevados. Durante el recorrido, pasarás por montañas nevadas, verás una montaña Inca sagrada, explorarás la jungla subtropical cerca de Machu Picchu y disfrutarás del lago Humantay.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "SALKANTAY A MACHU PICCHU",
        days: "5D/4N",
        image: "/images/trekking/salkantaymachupicchu.avif",
        type: "Caminata / Cultural",
        elevation: "2500 m – 4650 m",
        difficulty: "Difícil",
        description: "La segunda caminata más popular para llegar a la ciudad imperial. A lo largo del recorrido, disfrutarás montañas, paisajes y una variedad de paisajes, desde la selva tropical hasta los picos nevados. Con menos restricciones que el Camino Inca, Salkantay ofrece una puerta trasera a Machu Picchu.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "CHOQUEQUIRAO",
        days: "4D/3N",
        image: "/images/trekking/choquequirao.avif",
        type: "Caminata / Cultural",
        elevation: "1500 m – 3000 m",
        difficulty: "Difícil",
        description: "Una caminata desafiante hacia uno de los últimos refugios de la civilización inca. Choquequirao (3.303 msnm) es un sitio arqueológico, cerca de la montaña Salkantay (6.272 msnm) y el río Apurímac. Disfrutarás hermosos paisajes montañosos, flora y fauna andina. La caminata ofrece vistas de este sitio inca único.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "CHOQUEQUIRAO TREK",
        days: "5D/4N",
        image: "/images/trekking/choquequirao2.avif",
        type: "Caminata / Cultural",
        elevation: "1500 m – 3000 m",
        difficulty: "Difícil",
        description: "Una caminata increíble y extenuante que lo llevará a uno de los últimos refugios de la civilización inca. Choquequirao (3.303 msnm / 10,168 pies) es un gran sitio arqueológico, cerca de la montaña sagrada Salkantay (APU) (6.272 msnm / 20,679 pies) y el río Apurímac. Durante el recorrido, observará maravillosos paisajes.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "TREK MACHU PICCHU",
        days: "4D/3N",
        image: "/images/trekking/machupicchu.avif",
        type: "Caminata / Cultural",
        elevation: "2500 m – 4200 m",
        difficulty: "Difícil",
        description: "Ideal para quienes buscan evitar las multitudes. Es una de las caminatas más nuevas, ofreciendo vistas de picos nevados, cascadas, y sitios arqueológicos incas. Maravillosa caminata, donde podrá interactuar con agricultores locales, conocer su cultura, y probar su comida. También aprenderá algunas palabras en quechua.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "TREK HUCHUY CUSCO",
        days: "3D/2N",
        image: "/images/trekking/huchuy.avif",
        type: "Caminata / Cultural",
        elevation: "3300 m – 4300 m",
        difficulty: "Moderado",
        description: "El viaje a Huchuy Qosqo es una excelente opción para quienes buscan una caminata no tan desafiante. Ofrece increíbles paisajes, grandes cañones y pueblos auténticos. Disfrutará de montañas nevadas, un antiguo camino inca pavimentado y vistas espectaculares. Ideal para quienes tienen poco tiempo o son principiantes.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    },
    {
        title: "TREK LARES MACHU PICCHU",
        days: "4D/3N",
        image: "/images/trekking/trekcusco.avif",
        type: "Caminata / Cultural",
        elevation: "2800 m – 4700 m",
        difficulty: "Moderado",
        description: "Nuestro tour lo llevará por paisajes altos andinos y montañas impresionantes, visitando pueblos remotos donde la vida sigue siendo como en la época de los incas. El recorrido lo llevará por lagos, valles verdes y bosques tropicales, concluyendo con una visita a esta maravilla del mundo.",
        link: "https://wa.me/51918024860?text=¡Hola!%20*American%20Trekking*%20Estoy%20interesado%20en%20el%20paquete%20*MONTAÑA%20DE%20COLORES%201D*."
    }
];
---
<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-5xl sm:text-5xl lg:text-5xl font-bold text-primary mb-12 px-4 sm:px-8 font-cookies">
            Aventuras <br /> en caminos del inca.
        </h2>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            {tours.map((tour) => (
            <div class="bg-sand bg-opacity-10 rounded-lg shadow-md overflow-hidden">
                <img src={tour.image} alt={tour.title} class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-bold text-primary mb-2">
                        {tour.title}
                    </h3>
                    <p class="text-gray-600 font-bold mb-2">
                        {tour.days}
                    </p>
                    <div class="text-sm text-gray-500 mb-4 space-y-1">
                        <p>
                            <i class="fas fa-hiking text-primary mr-2"></i>
                            <span class="font-bold">TIPO DE TOUR:</span> {tour.type}
                        </p>
                        <p>
                            <i class="fas fa-mountain text-primary mr-2"></i>
                            <span class="font-bold">ELEVACIÓN:</span> {tour.elevation}
                        </p>
                        <p>
                            <i class="fas fa-tachometer-alt text-primary mr-2"></i>
                            <span class="font-bold">DIFICULTAD:</span> {tour.difficulty}
                        </p>
                    </div>
                    <p class="text-gray-600 mb-6">
                        {tour.description}
                    </p>
                    
                    <a href={tour.link} target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white rounded-md shadow-md transition duration-400 ease-in-out hover:scale-105">
                        Reservar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>
            ))}
        </div>
    </div>
</section>