---
const meta = {
	title: "American Trekking Cusco | Agencia de viajes en Cusco | Agencia de Viajes en Perú | Tours en Cusco",
	description: "Machu Picchu Tours, Cusco Agencias de Viaje, Paquetes Turísticos Cusco, Montaña de 7 Colores, Cusco Tours, Tours a Machu Picchu, Cusco Perú",
	url: "https://www.americantrekkingcusco.com/",
};
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:locale" content="es_PE" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Rubén Tipiani" />
		<meta name="copyright" content="Copyright (c) 2024 American Trekking Cusco" />
		<meta name="description" content={meta.description} />
	
		<title>{meta.title}</title>
	
		<meta property="og:site_name" content="American Trekking Cusco" />
		<meta property="og:title" content={meta.title} />
		<meta property="og:description" content={meta.description} />
		<meta property="og:image" content="https://www.americantrekkingcusco.com/imagen_de_previsualizacion.webp" />
		<meta property="og:url" content={meta.url} />
		<meta property="og:type" content="website" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:type" content="image/webp" />
	
		<link rel="canonical" href="https://www.americantrekkingcusco.com/" />
		<link rel="icon" href="https://www.americantrekkingcusco.com/favicon.ico" type="image/x-icon" />
	
		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@nombreusuario" />
		<meta name="twitter:title" content="{meta.title}" />
		<meta name="twitter:description" content="{meta.description}" />
		<meta name="twitter:image" content="https://www.americantrekkingcusco.com/imagen_de_previsualizacion.webp" />
	</head>
	<body>
		<slot />
		<a href="https://wa.me/51918024860?text=Hola%20*American%20Trekking*,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20paquetes%20tur%C3%ADsticos." target="_blank" rel="noopener noreferrer" class="fixed bottom-6 right-6 z-50 w-16 h-16 bg-green-500 text-white rounded-full flex items-center justify-center shadow-xl hover:bg-green-600 transition duration-300 transform hover:scale-110">
			<i class="fa-brands fa-whatsapp text-2xl"></i>
		</a>		

		<a href="#top" class="fixed bottom-24 right-8 z-50 p-3 bg-primary text-white rounded-full shadow-xl hover:bg-secondary transition duration-300">
			<i class="fa-solid fa-arrow-up text-xl"></i>
		</a>
	</body>
</html>